body {
	color: #000000 ;
	background-color: #F8F8F8 ;
	font-family: sans-serif ;
	text-align: justify ;
	margin-left: 40px ;
	margin-right: 40px ;
	max-width: 66em ;
	width: 90% ;
}

a {
	text-decoration: none ;
}

a:link:hover, a:visited:hover {
	background-color: #DDDDDD ;
}

a:link:active, a:visited:active {
	color: #FF0000 ;
}

hr {
	border: 0 ;
	height: 1px ;
	color: #a0a0a0 ;
	background-color: #a0a0a0 ;
}

h1 {
	font-weight: normal ;
	font-style: normal ;
	border-left: solid #0000A0 1em ;
	padding-left: 8px ;
}

h2, h3 {
	font-weight: normal ;
	font-style: italic ;
}

img:hover {
	background-color: white ; color: white ;
}

h2 :target {
	background-color: white ;
	padding: 8px ;
	border: solid #a0a0a0 2px ;
}

table {
	border: none ;
	border-spacing: 0 ;
	border-collapse: collapse ;
}

td {
	padding: 0 ;
}
